<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Edit post</title>
	</head>
	<body>
		<p>id:<%=post.id%></p>
		<h3>@ <%=post.username%></h3>
		<form action="/posts/<%=post.id%>?_method=PATCH" method="post">
			<textarea name="content"><%=post.content%></textarea><br /><br />
			<button>Submit Changes</button>
		</form>
	</body>
</html>
